In [1]:
#arithmatic operators 
print(1+1)

2

In [2]:
print(1-1)

0

In [3]:
print(7*7)

49

In [4]:
print(10/5)

2.0

In [5]:
#gives you division
print(13/2)

6.5

In [6]:
#rounds down the division number
print(13//2)

6

In [208]:
#gives you remainder
print(6%2)

0

In [8]:
print(9%2)

1

In [9]:
print(6**2)

36

In [10]:
print( 6 + 9 * 3 + 3 )

36

In [11]:
age = 25
print(age)

25

In [12]:
age = 25
name = "John"
gender = "male"
print(age, name, gender)
#printed a list

25 John male

In [13]:
age, name, gender = 25, "John", "male"
print(age, name, gender)

25 John male

In [17]:
#value given is called a float - decimal 
x = 7
y = 3
z = x/y
print(z)

2.3333333333333335

In [21]:
x = 7
print(type(x))

<class 'int'>

In [24]:
y = 2+2.5
print(y)
print(type(y))

4.5
<class 'float'>

In [25]:
print(2/2)

1.0

In [27]:
print(7/3.5)

2.0

In [28]:
print(int(7/3.5))

2

In [29]:
print(int(3.7))

3

In [32]:
#convert an integer to a float
some_float = float(3)
print(some_float)

3.0

In [34]:
name = "John"
print(name)
print(type(name))

John
<class 'str'>

In [38]:
dialogue = 'John said "Hello James", to which which James said "Hello John"'
print(dialogue)

John said "Hello James", to which which James said "Hello John"

In [41]:
dialogue = "John said 'Hello James', to which James said 'Hello John, you\'re the best'"
print(dialogue)

John said 'Hello James', to which James said 'Hello John, you're the best'

In [42]:
segment_one = 'I\'m 25 '
segment_two = 'years old'
full_sentence = segment_one + segment_two
print(full_sentence)

I'm 25 years old

In [43]:
long_sentence = full_sentence*10
print(long_sentence)

I'm 25 years oldI'm 25 years oldI'm 25 years oldI'm 25 years oldI'm 25 years oldI'm 25 years oldI'm 25 years oldI'm 25 years oldI'm 25 years oldI'm 25 years old

In [45]:
#counts the characters in a sentence
length_of_long_sentence = len(long_sentence)
print(length_of_long_sentence)

160

In [47]:
comparison_operation = 1 < 2
print(comparison_operation)

True

In [48]:
#or operator 
comparison_operation = 1 < 2 or 2 < 3
print(comparison_operation)

True

In [51]:
comparison_operation = 1 > 2 and 2 < 3
print(comparison_operation)

False

In [50]:
comparison_operation = 1 > 2 or 2 > 3
print(comparison_operation)

False

In [53]:
comparison_operation = 1 < 2
print(comparison_operation)

#flips the answer of the boolean value
comparison_operation = not 1 < 2
print(comparison_operation)

True
False

In [63]:
#data type methods. method is a function that is called by a name that is associated with an object. 
#lower is the method. or upper
movie_title = "Harry Potter and the Prisoner of Azkaban"
print(movie_title.lower())

harry potter and the prisoner of azkaban

In [57]:
#list always start with 0 and written in square brackets
names = ["John", "Jane", "Joe"]
print(names[2])

Joe

In [58]:
#lists can contain mix data types, length starts at 1
random_variable = [ True , False , 'Hello' , 0 , 1.2 ]
print(len(random_variable))

5

In [60]:
random_variable = [ True , False , 'Hello' , 0 , 1.2 ]
length = len(random_variable)
print(length)
final_element = random_variable[length - 1]
#need to subtract 1 because the list starts from 0, 1, 2, 3, 4. But the length is 5. 
print(final_element)

5
1.2

In [62]:
#can write the random variable starting from the end instead
random_variable = [ True , False , 'Hello' , 0 , 1.2 ]
print(random_variable[-1])
print(random_variable[-2])
print(random_variable[-3])

1.2
0
Hello

In [65]:
#slicing is not inclusive. It is exclusive so the slicing ends at the index minus 1
ordered_numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sliced_list = ordered_numbers[1:9]
print(sliced_list)

#starting from the beginning requires to start the index at 0, because index starts at 0
sliced_list2 = ordered_numbers[0:9]
print(sliced_list2)

[1, 2, 3, 4, 5, 6, 7, 8]
[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [66]:
#can also assume that python will start at the start of the index of 0 
ordered_numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sliced_list = ordered_numbers[:9]
print(sliced_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [68]:
#can also access everything to the end of the list
ordered_numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sliced_list = ordered_numbers[3:]
print(sliced_list)

[3, 4, 5, 6, 7, 8, 9, 10]

In [72]:
#string in python can also be a list of characters, access the 3rd index same as in a list. starts at 0
show_title = 'game of thrones'
print( show_title[2] )
#print a slice
print(show_title[2:12])

m
me of thro

In [73]:
#creating a list from 0 to 1000 would take a long time, So using range makes it faster
#range( start , stop , step ); where to start the argument, when to stop, and what are the increments 
long_list_of_numbers = list( range(5, 21) )
print(long_list_of_numbers)
#start is INCLUSIVE (if start at 5, then it starts at 5), but the stop is exclusive. will stop right before

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [76]:
#if don't write the start variable, then it starts at 0
long_list_of_numbers = list( range(21) )
print(long_list_of_numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [77]:
#steps of every other number
long_list_of_numbers = list( range(0, 21, 2) )
print(long_list_of_numbers)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [80]:
#membership operators determines if a certain value is in a list or string. If in the sequence then = true. if not = false
months = ['January', 'February', 'April']
print('June' in months)
print('January' in months)

False
True

In [81]:
#Can also use 'not in' to see if something is not in the list 
months = ['January', 'February', 'April']
print('June' not in months)
print('January' not in months)

True
False

In [87]:
#applying to strings instead of lists
course = 'Python Crash Course'
print( 'Crash' in course )
print('rash' in course)
print('ftft' in course)
print('ftft' not in course)

True
True
False
True

In [91]:
#a mutable object can be changed after it is created, and an immutable object can't. lists are mutable
grocery_list = ['bananas', 'apples', 'cauliflower']
grocery_list[1] = 'oranges'
print(grocery_list)

['bananas', 'oranges', 'cauliflower']

In [92]:
#strings are immutable
misspelled_vegetable = 'cucomber'
misspelled_vegetable[3] = 'u'

TypeError: 'str' object does not support item assignment

In [93]:
#Immutable data type
name = 'John'
other_name = name
name = 'Jane'
print(name)
print(other_name)
#name got reassigned, but other_name was before the reassignment, so it remains John. 
#We didn't point to the same reference memory. We made a new assignment

Jane
John

In [97]:
#Mutable data type
fruits = ["apples", "oranges", "watermelon"]
other_fruits = fruits
print(fruits)
fruits[0] = "bananas"
print(fruits)
print(other_fruits)
#both variables point to the same reference memory, so by modifying fruits...it also changes the other_fruits.

['apples', 'oranges', 'watermelon']
['bananas', 'oranges', 'watermelon']
['bananas', 'oranges', 'watermelon']

In [100]:
#Common functions and methods in lists. The len (or length) function gives the number of characters in a sequence
numbers = [3, 5, 6, 7, 9]
length_of_numbers = len( numbers )
print(length_of_numbers)

#max function gives you the maximum number in a sequence
numbers = [3, 5, 6, 7, 9]
maximum_number = max( numbers )
print(maximum_number)

5
9

In [102]:
#max also can give you alphabetical order value. biggest is the last (Z)
names = ["Thomas", "Gio", "Zack", "Adam"]
print(max(names))

Zack

In [103]:
#But if integers and strings used...then we get an error.
names = ["Thomas", "Gio", "Zack", "Adam", 1]
print(max(names))

TypeError: '>' not supported between instances of 'int' and 'str'

In [109]:
#minimum value is taken from 'min'
names = ["Thomas", "Gio", "Zack", "Adam"]
print(min(names))

numbers = [3, 5, 6, 7, 9]
minimum_number = min( numbers )
print(minimum_number)

Adam
3

In [111]:
#sorted function sorts values from smallest to largest
numbers = [3, 5, 6, 7, 9]
sorted_number = sorted( numbers )
print(sorted_number)

#or alphabetically 
names = ["Thomas", "Gio", "Zack", "Adam"]
sorted_names = sorted(names)
print(sorted_names)

[3, 5, 6, 7, 9]
['Adam', 'Gio', 'Thomas', 'Zack']

In [112]:
#join method, is a string method that links the elements of a list together
#return a string consisting of every element on that list joined by the string
joined_string = '-'.join(['january', 'february', 'march'])
print(joined_string)

january-february-march

In [115]:
joined_string = ' '.join(['january', 'february', 'march'])
print(joined_string)

january february march

In [116]:
#format replaces curly brackets { } in a string with any other string value
formatted_string = "this person is {}, {}, and {}".format('tall', 'slim', 'blonde')
print(formatted_string)

this person is tall, slim, and blonde

In [117]:
#append method allows you to add something to a list
months = ['January', 'February', 'March']
months.append('April')
print(months)

['January', 'February', 'March', 'April']

In [120]:
#tuples - if multiple values are so related, that you will most likely use them together, use a Tuple
#similar to an array but with parentheses 
traits = ('tall', 'slim', 'blond')
height = traits[0]
build = traits[1]
hair = traits[2]
print(height, build)

#tuples are immutable and used to store related information. Can't add/remove info without making a new variable

tall slim

In [122]:
traits = ('tall', 'slim', 'blond')
height, build, hair = traits

print(height, build, hair)
#this assigns the variables to the tuple

tall slim blond

In [126]:
#Sets are a mutable , unordered , unique , sequence of elements (so that means no duplicate numbers)
duplicate_numbers = [1, 1, 2, 2, 3, 3]
unique_numbers = set(duplicate_numbers)
print(unique_numbers)
#the have a built in add function that works like append
unique_numbers.add(4)
print(unique_numbers)

{1, 2, 3}
{1, 2, 3, 4}

In [128]:
#if try to add an existing number...then it won't add to the set. 
unique_numbers.add(3)
print(unique_numbers)
#because 3 is already added

{1, 2, 3, 4}

In [131]:
#sets are unordered, which means that we can't use indices to find elements in the set
print(2 in unique_numbers)

True

In [134]:
#dictionaries are composed of unique keys. Each unique key corresponds to a value. dictionaries are curly brackets {key: value}
#dictionaries have mutable data types, but the keys are immutable and unique - made of strings, numbers, or types
#Here the inventory is the dictionary, keys are fruits, and the values are prices
inventory = { 'bananas' : 1.29 , 'apples' : 2.99 , 'papayas' : 1.39 }

#specify which key you would like to access
print(inventory['bananas'])

#to modify price of bananas, need to access the key
inventory['bananas'] = 2.99
print(inventory['bananas'])

1.29
2.99

In [140]:
#get method looks up values using a specified key
bananas_price = inventory.get('bananas')
print(bananas_price)

#if the key doesn't exist, then it will output none
strawberries_price = inventory.get('strawberries')
print(strawberries_price)

#also can check if an element is in the dictionary
print('papayas' in inventory)
print('celery' in inventory)

2.99
None
True
False

In [159]:
#to add more data, we can nest dictionaries inside dictionaries. 
#Grocery item keys as fruits. And then each has price and country of origin
grocery_items = {
                 'bananas': {'price': 1.29, 'country of origin': 'Guatemala'}, 
                  'apples': {'price': 2.99, 'country of origin': 'United Kingdom'}, 
                 'papayas': {'price': 1.39, 'country of origin': 'Costa Rica'}
                }
print(grocery_items['bananas'])

{'price': 1.29, 'country of origin': 'Guatemala'}

In [146]:
#to only get country of origin. You just have to add an extra set of brackets to access a nested key. 
#First we looked up the key bananas, then we went deeper 
#and looked up country of origin which returned the value Guatemala.
print(grocery_items['bananas']['country of origin'])

Guatemala

In [149]:
#control flow is how you control how the code is run. build logic and determine the sequence in which code executes 
#If-else statements are conditions

#if (condition):
#  //code executes if condition is True
#else:
#  //code executes if condition is False

status = False

if (status):
  print('The status is True')
else:
  print('The status is False')

The status is False

In [161]:
#can also use in to figure if an element exists in the dictionary
item = 'brussel sprouts'

if (item in grocery_items): 
    print('The item exists')
#else:
    #print('The item does not exist')
else:
  print('The item does not exist')
  grocery_items.update({item: 2.99})
  print("just added the item: ", grocery_items)
    
#can also get rid of else statements. If you get rid of it and the element/value doesnt' exist, then nothing runs

The item exists

In [168]:
#if-else statements are used to manage which parts of your code will get executed based on a single condition. 
#elif statements allow you to test more than one condition.

grocery_items = {'bananas': 2.99, 'apples': 1.29, 'papayas': 2.39}
item, price = 'brussel sprouts', 3.99

#if statements checks if brussel sprouts is in the grocery_items
if (item in grocery_items): 
    print('The item exists')
#Once grocery_items finds that brussel sprouts not there, then elif statement runs
elif (price > 2.99):
    print('The price is too expensive')
#else is ignored, because elif runs
else:
    print('The item does not exist')

The price is too expensive

In [175]:
daytime = 'noon'
# one equal sign means assign a value
# two equal signs means comparison 

if daytime == 'dawn':
    print('still asleep')
elif daytime == 'morning':
    print('time to go to work')
elif daytime == 'noon':
    print('time to take a lunch break')
elif daytime == 'afternoon':
    print('time to go home')
else:
    print('time to sleep')
    
#So the purpose of this exercise was not only use the elif statements 
#but also for you to remember to use double equal signs == when making a comparison

time to take a lunch break

In [179]:
#complex comparisons with Reynold's number (flow of a fluid in a pipe)
reynolds_number = 5000

if 2000 < reynolds_number < 10000:
    print("The flow is transitional")
elif reynolds_number < 2000:
    print("The flow is laminar")

The flow is transitional

In [182]:
#can also write the thing above as logical operators using 'and'
reynolds_number = 5000

if reynolds_number > 2000 and reynolds_number < 10000:
    print("The flow is transitional")

#since there's no else statement and the operator 'and' needs to be both true...if reynolds_number is larger then 
#nothing runs

The flow is transitional

In [185]:
reynolds_number = 1000

if reynolds_number <= 2000 or reynolds_number >= 10000:
    print("The flow is not transitional")

#the or operator only needs one of the condition to be true so the code will run

The flow is not transitional

In [186]:
#Often times, you'll find that you need to run the same block of code multiple times. 
#This concept is known as iterating (or looping)

#for loops do an iteration through lists, dictionaries, strings, tuples and has the format of 
#for element in list_of_elements:
#  //iterates through each element

#iterating through a list
months = ['January', 'February', 'March']
for month in months:
    print(month)

January
February
March

In [189]:
#iterating through a range, remember that range is EXCLUSIVE, so this only goes up to 9
for number in range (0, 10):
    print(number)

0
1
2
3
4
5
6
7
8
9

In [195]:
#can also use for loops to update elements in a list
names = ['hillary', 'diana', 'bebe'] 
for index in range(len(names)):
    #print(index)
    #print(names[index])
    
    #this way you can capitalize 
    print(names[index].title())

Hillary
Diana
Bebe

In [200]:
#Using for loops to iterate through a dictionary - recall that dictionaries have collection of {key: value} pairs
#for (key, value) in dictionary.items():
#  //iterates through each (key, value) pair

movies = { 'Titanic': 1997, 'Finding Nemo': 2003 }
for (key, value) in movies.items():
    print('The movie {}, was made in {}'.format(key, value))
    
#format replaces each argument {} in the String with its corresponding variable

The movie Titanic, was made in 1997
The movie Finding Nemo, was made in 2003

In [206]:
#A for loop will keep executing the same block of code until it has iterated through the entire iterable 
#(list, dictionary or tuple)

#A while loop will keep running a block of code repeatedly until a specified condition becomes False
#while (condition):
#    //execute code
random_number = 25

while random_number < 30:
    random_number += 1
    print(random_number)

26
27
28
29
30

In [226]:
#break and continue is used to modify behavior of a for loop
#continue jumps over one iteration based on a condition.
numbers = list(range(0,10))
print(numbers)

#In this case what if we want to skip odd numbers
for number in numbers:
    if number % 2 == 0:
        continue
    print(number)
    
#have to indent properly, otherwise code won't work
#!= means not equal. wheras == means compared to, and = means to assign a value

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
1
3
5
7
9

In [227]:
for number in numbers:
    if number % 2 != 0:
        break
    print(number)

#break leaves the code completely

0

In [232]:
#Once a function is defined, it can be invoked as many times as you wish 
#without having to messily copy and paste your code, format is:

#def function_name(arg1, arg2):
#  //function body

#function is always declared with def. Better to use snake_case typing. The function specifies arguments inside parenthesis
#function body is the code that is executed when the funciton is called

def rectangle_area(length, width):
    area = length * width
    return area
#REMEMBER TO MAKE INDENTATION CORRECT! Otherwise it will not run. This is the function scope

print(rectangle_area(3, 2))
print(rectangle_area(4, 6))
print(rectangle_area(3, 9))
print(rectangle_area(2, 3))

6
24
27
6

In [233]:
"""Doc strings don't influence the code
Instead of having to read the code, a developer can quickly glance at your documentation and 
immediately recognize the purpose of your function. It is important to note that:

"""

"Doc strings don't influence the code\nInstead of having to read the code, a developer can quickly glance at your documentation and \nimmediately recognize the purpose of your function. It is important to note that:\n\n"